@import '@/assets/css/colors';
@import '@/assets/css/palette';
.zag {
	font-size: 2.0rem;
	color: #999;
	text-align: center;
}
.lnk {
	cursor: pointer;
	color: $link;
}
.edit {
	cursor: pointer;
	// color: $link;
	span {
		border-bottom: 1px dotted $link;
	}

	
}
.status {
	font-size: 1.1rem;
	/* text-align: left; */
	white-space: nowrap;
	span {
		// transform: rotate(-3deg);
		// color: $info;
		// color: #fff;
		// font-weight: 700;
		// border: 1px dotted #000;
		// border-radius: 3rem;
		// background: #ccc;

		letter-spacing: .5rem;
		border-top: 0.1rem solid #ccc;
		border-bottom: 0.1rem solid #ccc;
		// border-top: 0.2rem solid $info;
		// border-top: 4px double $info;
		// border-left: 1px solid $info;
		// border-right: 1px solid $info;
		// border-bottom: 0.2rem solid $info;
		display: inline-block;
		padding: .2rem 0;
		// padding: 0.20rem 0.9rem;
		text-transform: uppercase;
		/* border-radius: .3rem; */
		// font-family: 'Courier';
		/* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png'); */
		// -webkit-mask-image: url('../img/grunge.png');
		// -webkit-mask-size: 944px 604px;
		// mix-blend-mode: multiply;
		margin-top: .6rem;
	}
}
.txt {
	font-size: .8rem;
	text-align: center;
}
.rel {
	position: relative;
}

.blockhd {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: .15rem;
	color: $link;
}

// tree styles **************************************** 
.tree-highlights .tree-node.matched > .tree-content {
  background: $yellow;
}
.tree-highlights .tree-node.selected > .tree-content {
  background-color: #C2C6CC;
}

.tree > .tree-filter-empty {
	margin: 1rem;
	font-size: 1.1rem;
	padding: .5rem 2rem;
	border: 3px double #333;
}

// tree grouping styles * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
.tree-group .tree-node.selected > .tree-content {
  background-color: $yellow;
}
.tree-group .tree-children .tree-node a {
	// background: red;
	margin-left: -30px !important;
}

// context menu ****************************************
.v-application ul.ctx-menu {
	padding-left: 0;
	width: 195px;
	li {
		padding: .3rem 1rem;
		cursor: pointer;
		&:hover {
			background: #eee;
		}
		&:nth-last-child(2) {
			border-top: 1px dotted #666;
		}
		i {
			font-size: 1.2rem;
			margin-right: .5rem;
			&.next {
				font-size: .9rem;
				float: right;
				margin-right: -.5rem;
				margin-top: .2rem;
			}
		}
	}
}

.shad .v-text-field.v-text-field--solo .v-input__control {
	min-height: 0;
}

.v-input__slot {
	margin-bottom: 0;
}


.sm.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
	margin-bottom: 0;
}

// animation ***********************************
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}

.mytab {
	.v-tabs-slider-wrapper {
		top: 0;
		color: #000;
	}
	.v-tab {
		font-weight: 400;
	}
	.v-tab.v-tab--active {
		color: #000;
		font-weight: 500;
	}
}

// just test first commit

.v-item-group.theme--light.v-slide-group {
	background: transparent;
	// border-top: 1px solid #ccc;
}
.theme--light.v-tabs-items {
	background-color: transparent;
}

.v-skeleton-loader__image {
	height: 800px;
}

.theme--light.v-expansion-panels .v-expansion-panel {
	// border-bottom: 1px solid #ccc;
	background: transparent;
	&::before {
		box-shadow: none;
	}
}
.theme--light.v-expansion-panels .v-expansion-panel--active {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 6px #ccc;
}

.theme--light.v-icon, .theme--light.v-btn .v-icon {
	color: $blue-grey;
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

// tabels styles
.theme--dark .tabs {
	border: 1px solid #666;
	th {
		background: #444;
		color: #aaa;
		border-right: 1px solid #666;
	}
	.ro:hover {
		background: #3a3a3a;
	}
	td {
		border-bottom: 1px solid #666;
		color: #ccc;
	}
}

.theme--light .tabs {
	border: 1px solid #ccc;
	th {
		background: #ddd;
		color: #666;
		border-right: 1px solid #fff;
	}
	.ro {
		background: #fff;
		&:hover {
			background: #eee;
		}
	}
	td {
		border-bottom: 1px solid #eee;
	}
}

.tabs {
	width: 100%;
	margin-bottom: 6rem;
	transition: all 0.3s ease;
	border-collapse: collapse;
	th {
		height: 2.5rem;
		position: sticky;
		top: 0;
		text-transform: capitalize;
		font-size: 0.75rem;
		text-align: left;
		padding: 0 1rem;
		z-index: 3;
	}
	.ro {
		height: 3rem;
		position: relative;
	}
	td {
		padding: 0 1rem;
		position: relative;
	}
}
.check {
	height: 24px;
	margin-top: 0;
	padding-top: 0;
}
.tabs th.sm {
	text-align: center;
	width: 40px;
}
.over {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: right;
	margin-right: 0.5rem;
	background: #eee;
	line-height: 41px;
	i {
		margin-right: 4px;
		color: #999;
		&:hover {
			color: black;
		}
	}
}
span.action {
	display: none;
	width: 150px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0;
	// background: #eee;
	text-align: right;
	padding-right: 1rem;
	line-height: 45px;
	font-size: 1.2rem;
	cursor: pointer;
	i {
		margin-left: .5rem;
	}
}
tr:hover span.action {
	display: block;
}
.theme--light span.action {
	background: #eee;
}
.theme--dark span.action {
	background: #3a3a3a;
}
.quick {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	min-width: 200px;
	max-width: 400px;
	padding: 0 1rem;
}
.v-chip.tt {
	background: $blue-grey;
	color: #fff;
}

.tool {
	display: flex;
	justify-content: flex-end;
	.v-btn {
		margin-right: .7rem;
	}
	i {
		font-size: 1.2rem;
		margin-left: -3px;
	}
}

.theme--light .tder {
	background: #FFCDD2;
}
.theme--light .tdbl {
	background: #FFE57F;
}
.theme--dark .tder {
	background: #ff6b7a4a;
}
.theme--dark .tdbl {
	background: #fddb564a;
}
.pointer {
	cursor: pointer;
}
.theme--light.v-tabs > .v-tabs-bar, .theme--dark.v-tabs > .v-tabs-bar {
	background: transparent;
}
.theme--dark.v-tabs-items {
	background: transparent;
}

.v-data-table.tabs tbody tr.v-data-table__expanded__content {
	box-shadow: none;
}

.v-chip-group .v-slide-group__content {
	padding: 0 !important;
}

