/* Coolors Exported Paalette - coolors.co/f5f8fa-c7c9cc-979ba0-696e72-292d2d */

/* HSL */
$color1: hsla(204%, 33%, 97%, 1);
$color2: hsla(216%, 5%, 79%, 1);
$color3: hsla(213%, 5%, 61%, 1);
$color4: hsla(207%, 4%, 43%, 1);
$color5: hsla(180%, 5%, 17%, 1);

/* RGB */
$color1: rgba(245, 248, 250, 1);
$color2: rgba(199, 201, 204, 1);
$color3: rgba(151, 155, 160, 1);
$color4: rgba(105, 110, 114, 1);
$color5: rgba(41, 45, 45, 1);

/* HEX */
$color1: #f5f9fa;
$color2: #c7c9cc;
$color3: #979ba0;
$color4: #696e72;
$color5: #292d2d;

.theme--light.v-application {
	// background: linear-gradient(to top, #f8f8f8 20%, #ddd 50%, #f8f8f8 80%);
	background: #f8f8f8;
}
.theme--light.v-app-bar {
	background: #F2F3F5;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
	// box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.theme--light.v-navigation-drawer {
	background: #E3E5E8;
}
.theme--light.v-footer {
	background: #E3E5E8;
}
.theme--light.fab.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
		background: $color4;
		color: #fff;
}
.theme--light.v-card {
	background: #fff;
	box-shadow: 0 0 6px #999999aa;
}
.theme--dark.fab.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
		background: #1E88E5;
		color: #fff;
}
